#image img {
    width:100%;
    margin-top:5px;
}
 #know {
    background-color: rgba(0,0,0,0.3);
     width: 100%;
     position: absolute;
     top:40%;
}
#image p{
    font-size: 65px;
    color:white;
    font-family: calibri;
    text-align: center;
}

.content {
    left:12%;
    width:70%;
    position: absolute;
    top:90%;
    background-color: #fff;
    box-shadow: 2px 2px 8px 2px #ccc;
    padding-left:40px;
    padding-right:40px;
    padding-top:50px;
}
.content p {
    font-size: 18px;
    font-family: calibri;
    line-height: 30px;
    color:gray;
}
.content img {
    margin-left:-40px;
}

 .search-bar {
    width:48;
    margin-right:10px;
    align-self: right;
	height:34;
	
	
 }
 .search-bar .search_btn {
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    height:32px;
    transition-duration: 0.5s;
}
 .search-bar .search_btn:hover {
    background-color:black;
}
 .search-bar button, .search_text {
    height:32px;
    background-color:#fff;
    color:gray;
    border-style:none;
    display:block;
    float:right;
  
}
.search-bar .search_text {
    width:50%;
    padding-left:30px;
}
 .search-bar .search_text {
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

 .search-bar .search_text:focus {
   width:81%;
   border-style: none;   
}